
.container {
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 5%;
  gap: 5%;
  background: #F1F1F1 0% 0% no-repeat padding-box;
  font-family: "Heebo";
}

@media (max-width: 768px) {
  .container{
    height:1000px;
  }
}


